$bgColor:#333;
$color: #fff;
$upper: uppercase;
$border: 1px solid #000;
$borderR: 5px;

body {
  .btn{
    background-color: $bgColor;
    color: $color;
    text-transform: $upper;
    border: $border;
    width: 100px;
    height: 20px;
    cursor: pointer;
    border-radius: $borderR;
  }
}